@model MD.Producto
@using MD = SistemaVentas.Models;
@{
    if (Session["userID"] != null)
    {
        Layout = "~/Views/Shared/_Layout2.cshtml";
    }

    ViewBag.Title = "Detalle Producto";
}


<div class="jumbotron">
    
    
    
    @using (Html.BeginForm("ShoppingCart", "Producto",FormMethod.Post )) {
        <table>
            <tr>
                
                <td>
                    @Html.HiddenFor(s => s.Id)
                    @Html.HiddenFor(md => md.nombre)
                    <h1>@Html.DisplayFor(s => s.nombre)</h1>

                </td>

            </tr>
            <tr>
                <td>
                    
                    <p class="active">@Html.DisplayFor(s => s.descripcion)</p>

                </td>
            </tr>
            <tr>
                <td>
                    @Html.HiddenFor(md => md.precio)
                    <p class="lead">$@Html.DisplayFor(s => s.precio) COP</p>
                </td>
            </tr>
            <tr>
                <td>
                    
                    <label>Cantidad</label>
                    @Html.DropDownListFor(s => s.cantidad,(List<SelectListItem>) ViewBag.listado)
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Comprar"/></td>
            </tr>
        </table>
        
        
    }
</div>

